*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body, html {
    height: 100%;
  }
  body{
    /* background-image: url(assets/about_us.jpg)!important; */
    background-image: url(assets/tanzania.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /* The image used */

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
    .nav li a{
    color: white; 
}
#logo{
    max-height: 50px;
    max-width: 100%;
}