*{
    padding: 0;
    margin: 0;
}
body, html {
    height: 100%;
  }
body{
    background-image: url(Assets/Home_background.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.nav li a{
color: white; 
}

#logo{
max-height: 50px;
max-width: 100%;
}


#mainContainer{
margin-top: 120px;
}
::-webkit-scrollbar {
display: none;
}
::-moz-scrollbar {
    display: none;
    }

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   
}

.image-text { 
   position: absolute; 
   top: 45%; 
   left: 0; 
   width: 100%; 
}
#header {
    float: left;
    margin-top: 40vh!important;
}
#offers{
    margin-top: -70px;
    height: 99vh!important;
    z-index: 1;
}
nav {
    z-index: 2;
}
@media only screen and (min-width: 768px) {
    /* desktop */

}
@media only screen and (max-width: 768px) {
#header {
    margin-top: 50px!important;
}
.pl-5 {
    padding: 0 0 0px 10px !important;
}
.text {
  margin-top: -50px !important;
}
#offers{
    margin-top: 100px!important;
    height: 99vh!important; 
    z-index: 0;
}
nav {
    z-index: 2;
}
body {
   
}

}